In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mobile_sales_data.csv')

In [3]:
df.head()

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
0,Mobile Phone,Motorola,88EB4558,Site candidate activity company there bit insi...,78570,2023-08-02,2023-08-03,6,William Hess,South Kelsey,Central,NaN,Snapdragon 7 Gen,12GB,128GB,NaN
1,Laptop,Oppo,416DFEEB,Beat put care fight affect address his.,44613,2023-10-03,2023-10-06,1,Larry Smith,North Lisa,South,Ryzen 5,Ryzen 5,8GB,512GB,256GB
2,Mobile Phone,Samsung,9F975B08,Energy special low seven place audience.,159826,2025-03-19,2025-03-20,5,Leah Copeland,South Todd,Central,NaN,MediaTek Dimensity,8GB,256GB,NaN
3,Laptop,Sony,73D2A7CC,Friend record hard contain minute we role sea ...,20911,2024-02-06,2024-03-27,1,Dan Kirby,New Jordanmouth,South,i7,i7,12GB,64GB,2TB
4,Laptop,Microsoft,CCE0B80D,Program recently feeling save tree hotel people.,69832,2023-08-10,2023-09-10,4,Dean Martin,Keithton,East,i7,i7,8GB,128GB,2TB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  50000 non-null  object
 1   Brand                    50000 non-null  object
 2   Product Code             50000 non-null  object
 3   Product Specification    50000 non-null  object
 4   Price                    50000 non-null  int64
 5   Inward Date              50000 non-null  object
 6   Dispatch Date            50000 non-null  object
 7   Quantity Sold            50000 non-null  int64
 8   Customer Name            50000 non-null  object
 9   Customer Location        50000 non-null  object
 10  Region                   50000 non-null  object
 11  Core Specification       25017 non-null  object
 12  Processor Specification  50000 non-null  object
 13  RAM                      50000 non-null  object
 14  ROM                      50000 non-null  object
 15  SSD                      25017 non-null  object
dtypes: int64(2), object(14)
memory usage: 6.1+ MB

In [5]:
df.describe()

               Price  Quantity Sold
count   50000.000000    50000.00000
mean   102641.407080        5.51378
std     56363.550361        2.88101
min      5008.000000        1.00000
25%     53487.000000        3.00000
50%    103072.000000        6.00000
75%    151396.250000        8.00000
max    199999.000000       10.00000

In [6]:
print(df.isnull().sum())

Product                        0
Brand                          0
Product Code                   0
Product Specification          0
Price                          0
Inward Date                    0
Dispatch Date                  0
Quantity Sold                  0
Customer Name                  0
Customer Location              0
Region                         0
Core Specification         24983
Processor Specification        0
RAM                            0
ROM                            0
SSD                        24983
dtype: int64

In [7]:
df.replace('', np.nan, inplace=True)

In [8]:
df = df.dropna()

In [ ]:
df.drop(df[df['SSD'] == "N/A"].index, inplace = True)

In [9]:
df.drop(df[df['Core Specification'] == "N/A"].index, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25017 entries, 1 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  25017 non-null  object
 1   Brand                    25017 non-null  object
 2   Product Code             25017 non-null  object
 3   Product Specification    25017 non-null  object
 4   Price                    25017 non-null  int64
 5   Inward Date              25017 non-null  object
 6   Dispatch Date            25017 non-null  object
 7   Quantity Sold            25017 non-null  int64
 8   Customer Name            25017 non-null  object
 9   Customer Location        25017 non-null  object
 10  Region                   25017 non-null  object
 11  Core Specification       25017 non-null  object
 12  Processor Specification  25017 non-null  object
 13  RAM                      25017 non-null  object
 14  ROM                      25017 non-null  object
 15  SSD                      25017 non-null  object
dtypes: int64(2), object(14)
memory usage: 3.2+ MB

In [11]:
print(df.dtypes)

Product                    object
Brand                      object
Product Code               object
Product Specification      object
Price                       int64
Inward Date                object
Dispatch Date              object
Quantity Sold               int64
Customer Name              object
Customer Location          object
Region                     object
Core Specification         object
Processor Specification    object
RAM                        object
ROM                        object
SSD                        object
dtype: object

In [12]:
df.to_csv("mobile_sales_data2.csv", index=False)