In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('players.csv')

In [3]:
df.head()

,id,birthdate,birthplace,career_ast,career_fg,career_fg3,career_ft,career_g,career_per,career_pts,...,draft_pick,draft_round,draft_team,draft_year,height,highschool,name,position,shoots,weight
0,abdelal01,1968-06-24,"Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,1946-04-07,"Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,1947-04-16,"New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,1969-03-09,"Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,1974-11-03,"Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [4]:
missing_data = df.isnull()
missing_data.head()

,id,birthdate,birthplace,career_ast,career_fg,career_fg3,career_ft,career_g,career_per,career_pts,...,draft_pick,draft_round,draft_team,draft_year,height,highschool,name,position,shoots,weight
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
df.dropna()

,id,birthdate,birthplace,career_ast,career_fg,career_fg3,career_ft,career_g,career_per,career_pts,...,draft_pick,draft_round,draft_team,draft_year,height,highschool,name,position,shoots,weight
0,abdelal01,1968-06-24,"Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
2,abdulka01,1947-04-16,"New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,1969-03-09,"Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,1974-11-03,"Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb
5,abdursh01,1976-12-11,"Marietta, Georgia",2.5,47.2,29.7,81.0,830,19.0,18.1,...,3rd overall,1st round,Vancouver Grizzlies,1996,6-9,"Wheeler in Marietta, Georgia",Shareef Abdur-Rahim,Center and Small Forward and Power Forward,Right,225lb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661,youngth01,1988-06-21,"New Orleans, Louisiana",1.7,50.1,32.9,67.3,901,16.4,13.4,...,12th overall,1st round,Philadelphia 76ers,2007,6-8,"Mitchell in Memphis, Tennessee",Thaddeus Young,Power Forward,Left,221lb
4663,youngtr01,1998-09-19,"Lubbock, Texas",8.1,41.8,32.4,82.9,81,17.0,19.1,...,5th overall,1st round,Dallas Mavericks,2018,6-2,"Norman North HS in Norman, Oklahoma",Trae Young,Point Guard,Right,180lb
4667,zelleco01,1992-10-05,"Washington, Indiana",1.4,51.1,26.3,74.0,361,15.5,8.2,...,4th overall,1st round,Charlotte Bobcats,2013,7-0,"Washington in Washington, Indiana",Cody Zeller,Center,Right,240lb
4672,zellety01,1990-01-17,"Visalia, California",0.9,50.9,28.6,76.4,412,14.9,7.0,...,17th overall,1st round,Dallas Mavericks,2012,7-0,"Washington in Washington, Indiana",Tyler Zeller,Center,Right,253lb
4676,zidekge01,1973-08-02,"Zlin, Czech Republic",0.2,40.8,25.0,78.3,135,8.7,3.4,...,22nd overall,1st round,Charlotte Hornets,1995,7-0,"Arabska Secondary in Arabska, Czech Republic",George Zidek,Center,Right,250lb

In [6]:
print(df.dtypes)

id              object
birthdate       object
birthplace      object
career_ast     float64
career_fg      float64
career_fg3     float64
career_ft      float64
career_g         int64
career_per     float64
career_pts     float64
career_trb     float64
career_ws      float64
career_efg     float64
college         object
draft_pick      object
draft_round     object
draft_team      object
draft_year      object
height          object
highschool      object
name            object
position        object
shoots          object
weight          object
dtype: object

In [7]:
df.to_csv("players2.csv", index=False)